<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T4QVPC3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conoce mas de nosotros">

    <meta property="og:title" content="Pyndele" />
    <meta property="og:type" content="Conoce mas de nosotros" />
    <meta property="og:url" content="https://pyndele.com/gracias" />
    <meta property="og:image" content="/root/img/og.png" />

    <!--  <link rel="stylesheet" href="/root/stylesheet/style.css"> -->
    <link rel="stylesheet" href="/root/stylesheet/style.min.css">

    <link rel="shortcut icon" href="/root/img/favicon.ico" type="image/x-icon">

    <!-- Font Family  -->
    <link rel="preload" href="https://fonts.gstatic.com" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet"> 
 

    <title>Gracias</title>

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4QVPC3" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <scaffold id="Gracias" >

        <desktop id="Desktop" >

            <img src="/root/img/risa-roja.svg" class="risa-roja" alt="">

            <div class="container">

                <div class=" row container-2">

                    <div class="col container-2__col">

                        <h2 class="container-2__col__text-1">Gracias por <span>contactarnos.</span></h2>

                        <h3 class="container-2__col__text-2">Muy pronto <span>nos comunicaremos contigo.</span></h3>

                        <img src="/root/img/pyndele-blanco-2.svg" class="container-2__col__logo-b" alt="">

                    </div>

                    <img src="/root/img/tres-puntos-gracias.svg" class="container-2__3-ptos" alt="">

                </div>

            </div>

            <a class="btn-volver" href="/">Volver</a>

        </desktop>

        <mobile id="Mobile">


            <div class="col container">

                <div class=" row container-2">

                    <div class="col container-2__col">

                        <img src="/root/img/risa-roja.svg" class="container-2__col__risa-roja" alt="">

                        <h2 class="container-2__col__text-1">Gracias por <span>contactarnos.</span></h2>

                        <h3 class="container-2__col__text-2">Muy pronto <span>nos comunicaremos contigo.</span></h3>

                        <img src="/root/img/pyndele-blanco-2.svg" class="container-2__col__logo-b" alt="">

                        <a class="container-2__col__btn" href="/">Volver</a>


                        <img src="/root/img/3-ptos-hor-gra.svg" class="container-2__3-ptos" alt="">
                    </div>


                </div>

            </div>
        </mobile>

    </scaffold>
    
</body>
</html>