<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T4QVPC3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="negocios, emprendimiento, cursos" />
    <meta name="description" content="Conoce mas de nosotros"/>

    <meta property="og:title" content="Pyndele" />
    <meta property="og:type" content="Conoce mas de nosotros" />
    <meta property="og:url" content="https://pyndele.com/" />
    <meta property="og:image" content="/root/img/og.png" />


    <!-- CSS  -->
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/root/stylesheet/style.css">


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Font Family  -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet"> 

    <title>Pyndele</title>

</head>

<body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4QVPC3"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <h1 hidden>Pyndele</h1>

    <scaffold id="scaffold">
        

        <mobile id='Mobile'>

            <div class="col pliar-morado ">

                <img src="/root/img/pyndele-blanco.svg" class="pliar-morado__img-pyndele-b" alt="pyndele blanco">

                <img src="/root/img/risa-modara-cortada.svg" class="pliar-morado__img-risa-cortada"
                    alt="chito morado cortado">



            </div>

            <div class="row navbar">

                <!-- <a  href="/#EquipoMobile" class="navbar__equipo">Equipo de trabajo</a>
                <a  href="/#CirculoMobile" class="navbar__circulo">Círculo dorado</a> -->
                <div class="navbar__suscribete">Suscríbete</div>
                    

            </div>


            <div class="col video-intro">

                <div class="video-intro row">

                    <lite-vimeo videoid="507229784" 
                        class="video-intro__video video"></lite-vimeo>


                    <img src="/root/img/tres-puntos-vertical.svg" class="video-intro__img-3ptos" alt="">

                </div>

                <div class="row video-intro__social-media">

                    <a href="https://www.youtube.com/channel/UC8WzQli-ZG40OsWrXlcgMjg" target="_blank">
                        <img src="/root/img/youtube-gris.svg" alt="pyndele youtube icon"
                            class="video-intro__social-media__icon">
                    </a>

                    <a href="https://www.instagram.com/pyndele/" target="_blank">
                        <img src="/root/img/instagram-gris.svg" alt="pyndele instagram icon"
                            class="video-intro__social-media__icon">
                    </a>

                    <a href="https://www.facebook.com/Pyndele/" target="_blank">
                        <img src="/root/img/facebook-gris.svg" alt="pyndele facebook icon"
                            class="video-intro__social-media__icon">
                    </a>

                    <a href="https://co.linkedin.com/showcase/pyndele" target="_blank">
                        <img src="/root/img/linkedin-gris.svg" alt="pyndele linkedin icon"
                            class="video-intro__social-media__icon">
                    </a>



                </div>


            </div>

            <div class="col acerca-de-pyndele" >

                <h2 class="acerca-de-pyndele__title">
                    Conoce más <span>acerca de Pyndele</span>
                </h2>

                <div class="acerca-de-pyndele__linea-amarilla"></div>

                <p class="acerca-de-pyndele__paragraph">
                    Creemos que una de las claves fundamentales del emprendimiento es
                    <b>la educación de calidad</b> en temas que maximicen la productividad, competitividad y eviten
                    cometer
                    errores que, por desconocimiento, se traducen en pérdidas para la empresa.
                </p>

                <p class="acerca-de-pyndele__paragraph">
                    Por eso, estamos próximos a lanzar una nueva plataforma de aprendizaje que permitirá comprender de
                    manera ágil y práctica los conocimientos que todo empresario debe manejar en Latinoamérica. Te
                    invitamos a conocer nuestro círculo dorado:
                </p>


            </div>

            <div class="col carrusel" id="CirculoMobile">

                <h2 class="carrusel__title" >Este es nuestro <span>círculo dorado</span></h2>

                <!-- Flickity HTML init -->
                <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
                    <img class="gallery-cell" src="/root/img/carrusel-1-mv.png" />
                    <img class="gallery-cell" src="/root/img/carrusel-2-mv.png" />
                    <img class="gallery-cell" src="/root/img/carrusel-3-mv.png" />
                </div>

            </div>

            <div class="nuestro-equipo" id="EquipoMobile">

                <h2 class="nuestro-equipo__title">Nuestro <span>equipo</span> </h2>

                <div class="row nuestro-equipo__row">

                    <div class="col nuestro-equipo__row__col-1">

                        <div class="col nuestro-equipo__row__col-1__perfil">
                            <img class="nuestro-equipo__row__col-1__perfil__img"
                                src="/root/img/nuestro-equipo/nathalia-miranda.png" alt="andres marulanda">
                            <h2 class="nuestro-equipo__row__col-1__perfil__nombre">Nathalia <span>Miranda</span></h2>
                            <h2 class="nuestro-equipo__row__col-1__perfil__area">Planeación</h2>
                        </div>

                        <div class="col nuestro-equipo__row__col-1__perfil">
                            <img class="nuestro-equipo__row__col-1__perfil__img"
                                src="/root/img/nuestro-equipo/astrid-bedoya.png" alt="andres marulanda">
                            <h2 class="nuestro-equipo__row__col-1__perfil__nombre">Astrid <span>Bedoya</span></h2>
                            <h2 class="nuestro-equipo__row__col-1__perfil__area">Gestión</h2>
                        </div>

                        <div class="col nuestro-equipo__row__col-1__perfil">
                            <img class="nuestro-equipo__row__col-1__perfil__img"
                                src="/root/img/nuestro-equipo/andres-rios.png" alt="andres marulanda">
                            <h2 class="nuestro-equipo__row__col-1__perfil__nombre">Andrés <span>Ríos</span></h2>
                            <h2 class="nuestro-equipo__row__col-1__perfil__area">Desarrollo</h2>
                        </div>

                    </div>

                    <div class="col nuestro-equipo__row__col-2">

                        <div class="col nuestro-equipo__row__col-2__perfil">
                            <img class="nuestro-equipo__row__col-2__perfil__img"
                                src="/root/img/nuestro-equipo/andres-marulanda.png" alt="andres marulanda">
                            <h2 class="nuestro-equipo__row__col-2__perfil__nombre">Andrés <span>Marulanda</span></h2>
                            <h2 class="nuestro-equipo__row__col-2__perfil__area">Estrategia</h2>
                        </div>

                        <div class="col nuestro-equipo__row__col-2__perfil">
                            <img class="nuestro-equipo__row__col-2__perfil__img"
                                src="/root/img/nuestro-equipo/elena-bedoya.png" alt="andres marulanda">
                            <h2 class="nuestro-equipo__row__col-2__perfil__nombre">Elena <span>Bedoya</span></h2>
                            <h2 class="nuestro-equipo__row__col-2__perfil__area">Contenidos</h2>
                        </div>

                        <div class="col nuestro-equipo__row__col-2__perfil">
                            <img class="nuestro-equipo__row__col-2__perfil__img"
                                src="/root/img/nuestro-equipo/beatriz-marulanda.png" alt="andres marulanda">
                            <h2 class="nuestro-equipo__row__col-2__perfil__nombre">Beatriz <span>Marulanda</span></h2>
                            <h2 class="nuestro-equipo__row__col-2__perfil__area">Ejecución</h2>
                        </div>

                    </div>


                </div>


            </div>

            <div class="row aprende-emprender ">

                <img src="/root/img/aprender-emprender-8.png" alt="aprender a emprender" class="aprende-emprender__img">

                <div class="col aprende-emprender-col">

                    <h3 class="aprende-emprender-col__text-1">Espera la nueva forma de </h3>
                    <h3 class="aprende-emprender-col__text-2">aprender a</h3>
                    <h3 class="aprende-emprender-col__text-3">hacer negocios y emprender.</h3>

                </div>

            </div>

            <div class="col pyndele-en-camino">

                <h2 class="pyndele-en-camino__text-1">Abran paso,</h2>
                <img src="/root/img/logo-risa-gris.svg" alt="chito gris" class="pyndele-en-camino__risa-gris">
                <h2 class="pyndele-en-camino__text-2">en camino</h2>
            </div>


            <div class="form">

                <div class="popup__wrapper">

                    
                    <div class="popup__wrapper__row-top">

                        <!-- <img class="popup__wrapper__row-down__close" src="/root/img/popup-close.svg" alt=""> -->

                        <div class="popup__wrapper__row-top__text">
                            ¡Déjanos tus datos y recibe <br>
                                <span>aprendizaje práctico</span> 
                                <img src="/root/img/risa-amarilla.svg" alt="risa amarilla">
                            <br> que te ayudará <br> a potenciar tu negocio
                        </div>

                    </div>
                    
                    <form class="popup__wrapper__row-down" id="formUpFooterMovil">

                        
                        <label class="popup__wrapper__row-down__label" for="nombre">Nombre completo</label>

                        <input type="text" name="nombre" class="popup__wrapper__row-down__input">

                        
                        <label class="popup__wrapper__row-down__label" for="correo">Correo electrónico</label>

                        <input type="text" name="correo" class="popup__wrapper__row-down__input">

                        
                        <label class="popup__wrapper__row-down__label" for="temas">¿Tienes algún tema en específico sobre el que quieres aprender más? </label>

                        <textarea type="" id="" name="temas"  class="popup__wrapper__row-down__input"></textarea>

                        <input type="submit"  value="Enviar" class="popup__wrapper__row-down__submit">

                    </form>


                </div>
            </div> 

            <footer class="col fotter">

                <div class="col fotter__col">

                    <img src="/root/img/pyndele-blanco-2.svg" alt="logo pyndele blanco" class="fotter__col__img">
                    <div class="fotter__col__copy">Copyright © Pyndele 2020 -Todos los derechos reservados</div>

                </div>


                <div class="row fotter__row">

                    <a href="/terminos-y-condiciones" class="fotter__row__terminos">Términos y condiciones</a>
                    <!-- <a href="#" class="fotter__row__privacidad">Políticas de privacidad</a> -->
                    <a href="/politica-de-cookies" class="fotter__row__cookies">Política de cookies</a>

                </div>



            </footer>


            <!-- popup-close -->
            <div class="popup  popup-close fade-in">

                <div class="popup__bg"></div>
    
                <div class="popup__wrapper">

                    
                    <div class="popup__wrapper__row-top">

                        <!-- <img class="popup__wrapper__row-down__close" src="/root/img/popup-close.svg" alt=""> -->

                        <div class="popup__wrapper__row-top__text">
                            ¡Déjanos tus datos y recibe <br>
                                <span>aprendizaje práctico</span> 
                                <img src="/root/img/risa-amarilla.svg" alt="risa amarilla">
                            <br> que te ayudará <br> a potenciar tu negocio
                        </div>

                    </div>
                    
                    <form class="popup__wrapper__row-down" id="formPopupMovil">

                        
                        <label class="popup__wrapper__row-down__label" for="nombre">Nombre completo</label>

                        <input type="text" name="nombre" class="popup__wrapper__row-down__input">

                        
                        <label class="popup__wrapper__row-down__label" for="correo">Correo electrónico</label>

                        <input type="text" name="correo" class="popup__wrapper__row-down__input">

                        
                        <label class="popup__wrapper__row-down__label" for="temas">¿Tienes algún tema en específico sobre el que quieres aprender más? </label>

                        <textarea type="" id="temasPopupDesktop" name="temas"  class="popup__wrapper__row-down__input"></textarea>

                        <input type="submit"  value="Enviar" class="popup__wrapper__row-down__submit">

                    </form>


                </div>
    
            </div>
            
        </mobile>

        <desktop id='Desktop' class="col">


            <div class="popup popup-close fade-in">
        
                <div class="popup__bg"></div>
    
                <div class="popup__wrapper">
                    
                    <form class="popup__wrapper__col-left" id="formPopupDesktop">

                        <img src="/root/img/logo.svg" alt="" class="popup__wrapper__col-left__logo">
                        
                        <label class="popup__wrapper__col-left__label" for="nombre">Nombre completo</label>

                        <input type="text" name="nombre" class="popup__wrapper__col-left__input">

                        
                        <label class="popup__wrapper__col-left__label" for="correo">Correo electrónico</label>

                        <input type="text" name="correo" class="popup__wrapper__col-left__input">

                        
                        <label class="popup__wrapper__col-left__label" for="temas">¿Tienes algún tema en específico sobre el que quieres aprender más? </label>

                        <textarea type="" name="temas"  class="popup__wrapper__col-left__input"></textarea>

                        <input type="submit"  value="Enviar" class="popup__wrapper__col-left__submit">

                    </form>

                    <div class="popup__wrapper__col-right">

                        <img class="popup__wrapper__col-right__close" src="/root/img/popup-close.svg" alt="">

                        <div class="popup__wrapper__col-right__text">
                            ¡Déjanos tus datos y recibe 
                                <span>aprendizaje práctico</span> 
                                <img src="/root/img/risa-amarilla.svg" alt="risa amarilla">
                            <br> que te ayudará <br> a potenciar tu negocio
                        </div>

                    </div>

                </div>
    
            </div>


            <div class="col pliar-morado ">

                <img src="/root/img/pyndele-blanco-2.svg" class="pliar-morado__img-pyndele-b" alt="pyndele blanco">

                <img src="/root/img/risa-modara-cortada.svg" class="pliar-morado__img-risa-cortada"
                    alt="chito morado cortado">



            </div>


            <div class="row navbar">

                <a href="/#Equipo" class="navbar__equipo">Equipo de trabajo</a>
                <a href="/#Circulo" class="navbar__circulo">Círculo dorado</a>

                <div class="navbar__suscribete">Suscríbete</div>
            </div>

            <div class="col video-intro">

                <div class="video-intro row">
    
                    <lite-vimeo videoid="507229784" 
                        class="video-intro__video video" > </lite-vimeo>

                    <img src="/root/img/tres-puntos-vertical.svg"  class="video-intro__img-3ptos" alt="">

                </div>

                <div class="row video-intro__social-media">

                    <a href="https://www.youtube.com/channel/UC8WzQli-ZG40OsWrXlcgMjg" target="_blank">
                        <img src="/root/img/youtube-gris.svg" alt="pyndele youtube icon"
                            class="video-intro__social-media__icon">
                    </a>

                    <a href="https://www.instagram.com/pyndele/" target="_blank">
                        <img src="/root/img/instagram-gris.svg" alt="pyndele instagram icon"
                            class="video-intro__social-media__icon">
                    </a>

                    <a href="https://www.facebook.com/Pyndele/" target="_blank">
                        <img src="/root/img/facebook-gris.svg" alt="pyndele facebook icon"
                            class="video-intro__social-media__icon">
                    </a>

                    <a href="https://co.linkedin.com/showcase/pyndele" target="_blank">
                        <img src="/root/img/linkedin-gris.svg" alt="pyndele linkedin icon"
                            class="video-intro__social-media__icon">
                    </a>



                </div>


            </div>

            <div class="mas-de-pyndele row">

                <div class="col">

                    <h2 class="mas-de-pyndele__title">
                        Conoce más <span>acerca de Pyndele</span>
                    </h2>

                    <div class="mas-de-pyndele__linea-amarilla"></div>

                </div>

                <div class="col">

                    <p class="paragraph">
                        Creemos que una de las claves fundamentales del emprendimiento es <span class="bold">la
                            educación de
                            calidad</span> en temas que maximicen la productividad, competitividad y eviten cometer
                        errores que, por
                        desconocimiento, se traducen en pérdidas para la empresa.

                    </p>

                    <p class="paragraph">
                        Por eso, estamos próximos a lanzar una nueva plataforma de aprendizaje que permitirá
                        comprender de manera ágil y práctica los conocimientos que todo empresario debe manejar en
                        Latinoamérica. Te invitamos a conocer nuestro círculo dorado:
                    </p>

                </div>

            </div>


            <div class="carrusel col">

                <h2 class="carrusel__title" id="Circulo">Este es nuestro <span>círculo dorado</span></h2>

                <!-- Flickity HTML init -->
                <div class="gallery js-flickity  " data-flickity-options='{ "wrapAround": true, "autoPlay": true }'>
                    <img class="gallery-cell" src="/root/img/carrusel-1.png" />
                    <img class="gallery-cell" src="/root/img/carrusel-2.png" />
                    <img class="gallery-cell" src="/root/img/carrusel-3.png" />
                </div>


                <img src="/root/img/3-puntos.svg" alt="tres puntos horizontales"
                    class="pyndele-en-camino__3-ptos" id="Equipo">

            </div>


            <div class="row nuestro-equipo ">

                <h2 class="nuestro-equipo__title">Nuestro <span>equipo</span> </h2>

                <div class="col nuestro-equipo__col">

                    <div class="row nuestro-equipo__row__fila-1">

                        <div class="col nuestro-equipo__row__fila-1__perfil">
                            <h2 class="nuestro-equipo__row__fila-1__perfil__nombre">Andrés <span>Marulanda</span></h2>
                            <h2 class="nuestro-equipo__row__fila-1__perfil__area">Estrategia</h2>
                            <img class="nuestro-equipo__row__fila-1__perfil__img"
                                src="/root/img/nuestro-equipo/andres-marulanda.png" alt="andres marulanda">
                        </div>

                        <div class="col nuestro-equipo__row__fila-1__perfil">
                            <h2 class="nuestro-equipo__row__fila-1__perfil__nombre">Elena <span>Bedoya</span></h2>
                            <h2 class="nuestro-equipo__row__fila-1__perfil__area">Contenidos</h2>
                            <img class="nuestro-equipo__row__fila-1__perfil__img"
                                src="/root/img/nuestro-equipo/elena-bedoya.png" alt="andres marulanda">
                        </div>

                        <div class="col nuestro-equipo__row__fila-1__perfil">
                            <h2 class="nuestro-equipo__row__fila-1__perfil__nombre">Beatriz <span>Marulanda</span></h2>
                            <h2 class="nuestro-equipo__row__fila-1__perfil__area">Ejecución</h2>
                            <img class="nuestro-equipo__row__fila-1__perfil__img"
                                src="/root/img/nuestro-equipo/beatriz-marulanda.png" alt="andres marulanda">
                        </div>


                    </div>

                    <div class="row nuestro-equipo__row__fila-2">

                        <div class="col nuestro-equipo__row__fila-2__perfil">
                            <h2 class="nuestro-equipo__row__fila-2__perfil__nombre">Nathalia <span>Miranda</span></h2>
                            <h2 class="nuestro-equipo__row__fila-2__perfil__area">Planeación</h2>
                            <img class="nuestro-equipo__row__fila-2__perfil__img"
                                src="/root/img/nuestro-equipo/nathalia-miranda.png" alt="andres marulanda">
                        </div>

                        <div class="col nuestro-equipo__row__fila-2__perfil">
                            <h2 class="nuestro-equipo__row__fila-2__perfil__nombre">Astrid <span>Bedoya</span></h2>
                            <h2 class="nuestro-equipo__row__fila-2__perfil__area">Gestión</h2>
                            <img class="nuestro-equipo__row__fila-2__perfil__img"
                                src="/root/img/nuestro-equipo/astrid-bedoya.png" alt="andres marulanda">
                        </div>

                        <div class="col nuestro-equipo__row__fila-2__perfil">
                            <h2 class="nuestro-equipo__row__fila-2__perfil__nombre">Andrés <span>Ríos</span></h2>
                            <h2 class="nuestro-equipo__row__fila-2__perfil__area">Desarrollo</h2>
                            <img class="nuestro-equipo__row__fila-2__perfil__img"
                                src="/root/img/nuestro-equipo/andres-rios.png" alt="andres marulanda">
                        </div>


                    </div>

                </div>

            </div>


            <div class="row aprende-emprender ">

                <img src="/root/img/aprender-emprender-8.png" alt="aprender a emprender" class="aprende-emprender__img">

                <div class="col aprende-emprender-col">

                <div class="aprende-emprender-col__suscribete">Suscríbete</div>

                <img src="/root/img/risa-gris.svg" alt="" class="aprende-emprender-col__risa-gris">

                    <h3 class="aprende-emprender-col__text-1">Y potencia tu <br> aprendizaje </h3>

                    <h3 class="aprende-emprender-col__text-2">para <span>hacer negocios y emprender</span></h3>
                </div>

            </div>

            <div class="col pyndele-en-camino">

                <h2 class="pyndele-en-camino__text-1">Abran paso,</h2>
                <img src="/root/img/logo-risa-gris.svg" alt="chito gris" class="pyndele-en-camino__risa-gris">
                <h2 class="pyndele-en-camino__text-2">en camino</h2>
            </div>

            <div class="row form">


                <div class="popup__wrapper">
                    
                    <form class="popup__wrapper__col-left" id="formUpFooterDesktop">

                        <img src="/root/img/logo.svg" alt="logo" class="popup__wrapper__col-left__logo">
                        
                        <label class="popup__wrapper__col-left__label" for="nombre">Nombre completo</label>

                        <input type="text" name="nombre" class="popup__wrapper__col-left__input">

                        
                        <label class="popup__wrapper__col-left__label" for="correo">Correo electrónico</label>

                        <input type="text" name="correo" class="popup__wrapper__col-left__input">

                        
                        <label class="popup__wrapper__col-left__label" for="temas">¿Tienes algún tema en específico sobre el que quieres aprender más? </label>

                        <textarea name="temas"  class="popup__wrapper__col-left__input"></textarea>

                        <input type="submit"  value="Enviar" class="popup__wrapper__col-left__submit">

                    </form>

                    <div class="popup__wrapper__col-right">

                        <!-- <img class="popup__wrapper__col-right__close" src="/root/img/popup-close.svg" alt=""> -->

                        <div class="popup__wrapper__col-right__text">
                            ¡Déjanos tus datos y recibe 
                                <span>aprendizaje práctico</span> 
                                <img src="/root/img/risa-amarilla.svg" alt="risa amarilla">
                            <br> que te ayudará <br> a potenciar tu negocio
                        </div>

                    </div>

                </div>
            </div>

            <footer class="col footer">

                <img src="/root/img/pyndele-blanco-2.svg" alt="logo pyndele blanco" class="footer__img">

                <div class="row">

                    <div class="footer__row__copy">Copyright © Pyndele 2020 -Todos los derechos reservados</div>

                    <a href="/terminos-y-condiciones" class="footer__row__terminos">Términos y condiciones</a>
                    <!-- <a href="#" class="footer__row__privacidad">Políticas de privacidad</a> -->
                    <a href="/politica-de-cookies" class="footer__row__cookies">Política de cookies</a>


                </div>

            </footer>


        </desktop>

    </scaffold>

    <script type="module" src="/root/js/lite-vimeo.js"></script>
    <!-- <script src="/root/js/flickity.pkgd.min.js"></script> -->
    <script src="/root/js/flickity.pkgd.js"></script> 
    <!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->

    <script src="/root/js/form.js"></script>
    
</body>

</html>