<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/normalize.css">
    <!-- <link rel="stylesheet" href="/home/style/dist/home.css"> -->
    <link rel="stylesheet" href="/home/style/home.css">
    <!-- <link rel="stylesheet" href="/home/style/home.css"> -->
    <link rel="stylesheet" href="/assets/splide.min.css">
    <title>Document</title>
</head>

<body>

    <div class="header">

        <img class="header__logo" src="/assets/brand/logo.svg" alt="skapxD logo">

        <div class="expanded-1"></div>

        <div class="header__option">¿Quien soy? </div>
        <div class="header__option">Proyectos </div>
        <div class="header__option">Servicios </div>
        <div class="header__option">Contacto </div>

    </div>

    <div class="aplicaciones-que-impactan">

        <div class="aplicaciones-que-impactan__col">
    
            <div class="aplicaciones-que-impactan__col__title">
                Aplicaciones <br> que impactan
            </div>

            <div class="aplicaciones-que-impactan__col__sub-title">
                Creamos productos digitales para distintos rubros como:<br> 
                Delivery, Banca, Salud, Corporativo y 
                Entretenimiento
            </div>

            <div class="aplicaciones-que-impactan__col__btn-contacto">
                <p>
                    Contáctame
                </p>
            </div>

        </div>

        <div class="aplicaciones-que-impactan__col">
            <img src="/assets/brand/hand-and-phone.png" alt="hand and phone">
        </div>

    </div>

    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="splide__slide__img">

                    </div>

                    <div class="splide__slide__title">
                        Pyndele <br> Presentación
                    </div>
                    <div class="splide__slide__sub-title">
                        Web
                    </div>


                </li>
                <li class="splide__slide">
                    <div class="splide__slide__img">

                    </div>

                    <div class="splide__slide__title">
                        Tecnología Medica <br> Celular
                    </div>
                    <div class="splide__slide__sub-title">
                        Web
                    </div>

                </li>
                <li class="splide__slide">
                    <div class="splide__slide__img">
                    </div>
                    <div class="splide__slide__title">
                        Rest Server<br> Express
                    </div>
                    <div class="splide__slide__sub-title">
                        Github
                    </div>
                    
                </li>
                <li class="splide__slide">
                    <div class="splide__slide__img">

                    </div>
                    <div class="splide__slide__title">
                        All App <br> App de Delivery
                    </div>

                    <div class="splide__slide__sub-title">
                        mobile
                    </div>

                </li>
                <li class="splide__slide">
                    <div class="splide__slide__img">

                    </div>
                    <div class="splide__slide__title">
                        Pyndele <br> Guia
                    </div>
                    <div class="splide__slide__sub-title">
                        Web
                    </div>

                </li>
                <li class="splide__slide">
                    <div class="splide__slide__img">

                    </div>
                    <div class="splide__slide__title">
                        Pyndele <br> Blog
                    </div>
                    <div class="splide__slide__sub-title">
                        Web
                    </div>

                </li>
            </ul>
        </div>
    </div>


    <script src="/assets/splide.min.js"></script>
    <script>
        new Splide( '.splide', {
            perPage: 2,
            autoHeight: true,
            autoWidth: true,
            arrows: false,
            padding: {
                left : '8vw',
                right: '4vw' 
            },
        } ).mount();
    </script>
</body>

</html>